<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514813722896-3pdbqi8sur748a82frbrvu53fkggmtb9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514813722896-3pdbqi8sur748a82frbrvu53fkggmtb9</string>
	<key>API_KEY</key>
	<string>AIzaSyCAI5sfzCkoa1-Ndsh9fAYyCzoq0TreaGw</string>
	<key>GCM_SENDER_ID</key>
	<string>514813722896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.routine</string>
	<key>PROJECT_ID</key>
	<string>bonkaemaster</string>
	<key>STORAGE_BUCKET</key>
	<string>bonkaemaster.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514813722896:ios:2bd94849f53cb013e2e595</string>
</dict>
</plist>